:root {
    --color-primario: #ca72ca;
    --color-hover: #7a447a;
    font-family: sans-serif;
    --altura-etiqueta: 2rem;
    --color-secundario: #7a447a;
  }

  * {
    box-sizing: border-box;
    font-size: x-large;

  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
  }

  li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: x-large;
  }

  li:active {
    background-color: #c7c7c7;
  }

  li .campo.principal {
    font-weight: bold
  }
  li .campo{
    font-weight: normal;
  }

  body {
    margin: 0;
    background-color: #f4f4f4;
  }

  header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--color-primario);
    z-index: 2000;
  }

  h1 {
    margin: 0;
    padding: 1rem 0 1rem 1rem;
    font-size: 0.8rem;
    margin-right: auto;

  }
  h2{
    font-size: x-large;
    text-align: center;
  }

  button {
    border: none;
    padding: 1rem;
    background-color: transparent;
  }

  button:hover {
    background-color: var(--color-hover);
  }
  .container{
    max-width: 95%;
    padding: 1.5rem;
    border-radius: 1%;
    background-color: white;
    margin: 2rem;
    margin-bottom: 2rem;
  }
  input {
    width: 100%;
    padding: 0;
    border: none;
    border-bottom: 1px solid var(--color-primario);
  }

  input,
  textarea {
    width: 100%;
    padding: 2px 0;
    border: none;
    border-bottom: 1px solid var(--color-primario );
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-bottom-color: var(--color-secundario);
  }

  p {
    margin: 1.5rem;
  }

  p.campo {
    position: relative;
    padding-top: var(--altura-etiqueta);
  }

  p.campo label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-primario);
  }

  p.campo :focus+label {
    color: var(--color-secundario);
  }

  
