body{
    background-color: #800080;
}
.container{
    max-width: 450px;
    height: auto;
    background-color: #EFEFEF;
    margin:5% auto;
    padding-bottom: 1rem;
}
.form_top{
    max-width: 500px;
    height: auto;
    
    background-color: #EFEFEF;
    margin:10px auto;
    padding-bottom: 1rem;
}
.form_top{
    width: 100%;
    text-align: center;
    padding: 2rem 3 1rem;
    border-top: solid 2rem #800080;
    margin-bottom: 1rem;
}
.form_reg{
    padding: 0 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.input{
    background-color: #EFEFEF;
    padding: 2rem;
    margin: auto;
    border: none;
    border-bottom:solid #CAC8C8 .2rem;
   
}
.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: 10;
	background-color: #fa35a8;
	color: rgb(0, 0, 0);
}
.btn__reset {
	background-color: #fa35a8;
}

.btn__submit:hover {
	background-color: #fa35a8;
}

.btn__reset:hover{
	background-color: #fa35a8;
}
.btn__nomb, .btn__apell {
	width: 40%;
	border-bottom: 4;
	background-color: #fa35a8;
	color: rgb(0, 0, 0);
}
h1{
    font-weight: bold;
    color: #131111;
    font-size: 35px;
}